<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tal" translate="label" sortOrder="10">
            <label>TAL Modules</label>
        </tab>
        <section id="tal" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Products</label>
            <tab>tal</tab>
            <resource>TAL_StockIndex::config</resource>
            <group id="stockindex" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Stock Index Extension</label>
                <field id="stockindex_hint" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>TAL\StockIndex\Block\Adminhtml\System\Config\Fieldset\Hint</frontend_model>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_save_action" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable MSI to default source collation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_index_action" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Indexing actions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>